<?xml version="1.0"?>
  <config>
     <modules>
        <mailPerformance>
          <version>1.0.0</version>
        </mailPerformance>
     </modules>
     <frontend>
       <routers>
          <routeurfrontend>
              <use>standard</use>
              <args>
                 <module>mailPerformance</module>
                 <frontName>mailPerformance</frontName>
              </args>
           </routeurfrontend>
       </routers>
    </frontend>
</config>