<?xml version="1.0" ?>
<config>
    <tabs>
        <mailPerformance_tab translate="">
            <label>mailPerformance</label>
            <sort_order>100</sort_order>
        </mailPerformance_tab>
    </tabs>

    <sections>
         <!--  Authentification   -->
        <mailPerformance_authentification_section translate="">
            <label>Authentification</label>
            <sort_order>200</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <tab>mailPerformance_tab</tab>
            <groups>
                <mailPerformance_group translate="">
                    <label>Authentification</label>
                    <comment></comment>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <apikey_field translate="">
                            <label>Authentification key</label>
                            <comment>API Authentification key</comment>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                            <frontend_input>text</frontend_input>
                        </apikey_field>
                        <acount_detail_field translate="">
                            <label>Account details</label>
                            <frontend_model>mailPerformance/adminhtml_system_config_account</frontend_model>
                            <source_model>mailPerformance/system_config_source_account</source_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </acount_detail_field>
                    </fields>
                </mailPerformance_group>
            </groups>
        </mailPerformance_authentification_section>



        <!--  Data Binding  -->
         <mailPerformance_dataBinding_section translate="">
            <label>Data binding</label>
            <sort_order>300</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <tab>mailPerformance_tab</tab>
             <groups>
                <DataBinding_group translate="">
                    <label>Link Magento to MailPerformance</label>
                    <comment></comment>
                    <sort_order>2</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <id_custormer_field translate="">
                            <label>Id</label>
                            <frontend_type>select</frontend_type>
                            <source_model>mailPerformance/system_config_source_numeric</source_model>
                            <backend_model>mailPerformance/system_config_backend_serialized</backend_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </id_custormer_field>                      
                        <firstname_field translate="">
                            <label>First name</label>
                            <frontend_type>select</frontend_type>
                            <source_model>mailPerformance/system_config_source_combo_AllText</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </firstname_field>
                         <lastname_field translate="">
                            <label>Last name</label>
                            <frontend_type>select</frontend_type>
                            <source_model>mailPerformance/system_config_source_combo_AllText</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </lastname_field>
                        <gender_field translate="">
                            <label>Gender</label>
                            <frontend_type>select</frontend_type>
                            <source_model>mailPerformance/system_config_source_combo_allList</source_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </gender_field>
                         <gender_Md_field translate="">
                            <label>Woman</label>
                            <frontend_model>mailPerformance/adminhtml_system_config_comboDV</frontend_model>
                            <source_model>mailPerformance/system_config_source_gender</source_model>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </gender_Md_field>
                        <gender_Mr_field translate="">
                            <label>Man</label>
                            <frontend_model>mailPerformance/adminhtml_system_config_comboDV</frontend_model>
                            <source_model>mailPerformance/system_config_source_gender</source_model>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </gender_Mr_field>
                         <email_field translate="">
                            <label>email</label>
                            <frontend_type>select</frontend_type>
                            <source_model>mailPerformance/system_config_source_email</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </email_field>
                        <birthday_field translate="">
                            <label>Birthday</label>
                            <frontend_type>select</frontend_type>
                            <source_model>mailPerformance/system_config_source_date</source_model>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </birthday_field>
                         <suscriptionDate_field translate="">
                            <label>Newsletters suscription date</label>
                            <frontend_type>select</frontend_type>
                            <source_model>mailPerformance/system_config_source_date</source_model>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </suscriptionDate_field>
                        <optin_field translate="">
                            <label>Third party offers</label>
                            <frontend_type>select</frontend_type>
                            <source_model>mailPerformance/system_config_source_combo_allList</source_model>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </optin_field>
                        <optin_no_field translate="">
                            <label>no</label>
                            <frontend_model>mailPerformance/adminhtml_system_config_comboDV</frontend_model>
                            <source_model>mailPerformance/system_config_source_optin</source_model>
                            <sort_order>8</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </optin_no_field>
                        <optin_yes_field translate="">
                            <label>yes</label>
                            <frontend_model>mailPerformance/adminhtml_system_config_comboDV</frontend_model>
                            <source_model>mailPerformance/system_config_source_optin</source_model>
                            <sort_order>8</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </optin_yes_field>
                    </fields>
                </DataBinding_group>
            </groups>
        </mailPerformance_dataBinding_section>


    </sections>
</config>

